<%# Navbar %>
<div class="navbar navbar-expand-sm navbar-lewagon fixed-top">
  <%= link_to "Space Cocktails", root_path, class: "navbar-brand" %>

    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <i class="fas fa-cocktail"></i>
        <%= link_to "Create Cocktail", new_cocktail_path %>
      </li>
      </ul>
  </div>
</div>


<%# Banner %>
<div class="banner">
  <div class="container">
    <h1>
    <br>
      <span id="banner-typed-text"></span>
    </h1>
  </div>
</div>
<%# Cards %>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key %>')">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
  <% end %>
</div>

<%# Footer %>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made by Beatriz Fernandes
  </div>
</div>

