<%# Navbar %>
<div class="navbar navbar-expand-sm navbar-lewagon fixed-top">
  <%= link_to "Space Cocktails", root_path, class: "navbar-brand" %>

    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <i class="fas fa-cocktail"></i>
        <%= link_to "Create Cocktail", new_cocktail_path %>
      </li>
      </ul>
  </div>
</div>


<%# Banner %>
<h1>
  <br>
    <span id="banner-typed-text"></span>
</h1>

<%# Cards %>
<div class="container">
  <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <% if cocktail.photo.present? %>
          <div class="card-category" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.9)), url('<%= cl_image_path cocktail.photo.key %>')">
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.9)), url('https://images.unsplash.com/photo-1587223962930-cb7f31384c19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80')">
        <% end %>
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      <% end %>      
    </div>
  </div>
</div>



<%# Footer %>
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/beatrizlf"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/fernandesbeatrizdl/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made by Beatriz Fernandes
  </div>
</div>

