// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "cards";

body {
  background-color: $black;
}

a {
  color: $white;
  text-decoration: none;
}

a:hover {
  color: $aqua;
}

h1 {
  font-size:large;
  font-weight: bold;
  padding: 10px;
}
