// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "cards";

body {
  background-color: #000105
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: #f28900;
}

h1 {
  font-size:large;
  font-weight: bold;
  padding: 10px;
}
